################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/compile.txt
/out/build
/out-lin-32
/out-linux64
/out-v141xp
/bin.tar
/NPC-VCMP.tar
/out2
/change in MessageIdentifiers.h
