################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/compile.txt
/out/build
/out-lin-32
/out-linux64
/out-v141xp
/bin.tar
/NPC-VCMP.tar
/out2
/change in MessageIdentifiers.h
/NPC-VCMP.zip
/npcclient/dependencies/zlib/zconf.h
/npcclient/dependencies/zlib/zconf.h.included
/out/test-out/doc/Makefile
/out
/out-linux
/change in MessageIdentifiers.h
/batch-build-v141_xp.bat
/relvers.png
/NPC-VCMP-master-v1.8-beta-3.zip
/out/test-out/doc/Makefile
/out/test-out/doc/Makefile
